<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/assets/libs/js/main-js.js"></script>