<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VisioLab : Erreur 404</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper p-0">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
           <div class="dashboard-header">
                <nav class="navbar navbar-expand-lg bg-white fixed-top">
                    <a class="navbar-brand" href="/"><img width="120" style="margin: 0px;" src="/img/logo_visio_supervision.png"/></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
            </div>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="bg-light text-center">
                <div class="container">
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                            <div class="error-section">
                                <div class="error-section-content">
                                    <h1 class="display-3">404</h1>
                                    <a href="/" class="btn btn-secondary btn-lg">Retourner sur le tableau de bord</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <% include inc/footer.ejs %>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- end wrapper -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <% include inc/importantjs.ejs %>
    </body>
</html>