<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>VisioLab : Monitoring des alertes</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include inc/navbar.ejs %>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
            <!-- ============================================================== -->
            <% include inc/lsidebar.ejs %>
            <!-- ============================================================== -->
            <!-- end left sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Monitoring des alertes</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item active"><a href="/" class="breadcrumb-link">Tableau de bord</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Monitoring des alertes</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Tableau des alertes</h5>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered first">
                                                    <thead>
                                                        <tr>
                                                            <th>Domain</th>
                                                            <th>URL</th>
                                                            <th>Date</th>
                                                            <th>Alarme(s)</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="monitoring">
                                                        <% if (body.detections && body.detections.length > 0) { %>
                                                            <% body.detections.forEach((detection) => { %>
                                                        <tr>
                                                            <td><a target="_blank" href="/analyse_camera/<%= detection.assoc %>"><%= detection.domain %></a></td>
                                                            <td><a target="_blank" href="<%= detection.url %>"><%= detection.url %></a></td>
                                                            <% var date = new Date(detection.date); %>
                                                            <td><a target="_blank" href="<%= detection.src %>">le <%= ("0" + date.getDate()).slice(-2); %>/<%= ("0" + (date.getMonth() + 1)).slice(-2) %>/<%= date.getFullYear() %> à <%= date.getHours() %>:<%= date.getMinutes() %>:<%= date.getSeconds() %></a></td>
                                                            <td>
                                                                <ul style="margin: 0; padding: 0;">
                                                            <% if (detection.alarms && detection.alarms.length > 0) { %>
                                                                <% detection.alarms.forEach((alarm) => { %>
                                                                <li style="margin-left: 20px;"><a target="_blank" href="/area_camera/<%= alarm[1] %>"><%= alarm[0] %></a></li>
                                                                <% }) %>
                                                            <% } %>
                                                                </ul>
                                                            </td>
                                                            <td style="width: 135px;">
                                                                <a id="<%= detection.assoc %>_<%= detection.progressSec %>" name="visionary" href="#" class="btn btn-primary"><span class="fas fa-eye"></span> Visionner</a>
                                                            </td>
                                                        </tr>
                                                            <% }) %>
                                                        <% } %>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Domain</th>
                                                            <th>URL</th>
                                                            <th>Date</th>
                                                            <th>Alarme(s)</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal viewer !-->
                    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div style="max-width: 60%;" class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Détails de la sequence</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div style="overflow: auto; text-align: center;">
                                        <canvas id="imgCanvas"></canvas>
                                    </div>
                                    <div style="padding: 20px; margin: 0px;" class="card-body">
                                        <canvas id="detectionsStats"></canvas>
                                    </div>
                                </div>
                                <button data-toggle="modal" id="exportPDFBtn" class="btn btn-primary btn-lg btn-block"><span class="fas fa-file-pdf"></span> Générer un rapport PDF</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Wait Modal !-->
                <div class="modal fade" id="waitModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Rapport PDF</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Le rapport PDF est en cours de préparation, vous allez être redirigé.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <% include inc/footer.ejs %>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <% include inc/importantjs.ejs %>
        <script src="/assets/vendor/socket.io-client/dist/socket.io.js"></script>
        <script src="/assets/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="/js/alarms_camera.js"></script>
    </body>
</html>
