<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VisioLab : Connexion</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
    </head>
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #ecf0f1;
        }
        .logo {
            width: 400px;
            height: 150px;
            position: relative;
            right: 51px;
    </style>
    <body>
        <!-- ============================================================== -->
        <!-- login page  -->
        <!-- ============================================================== -->


        <!-- ============================================================================== -->
        <!-- bumch of code you need to replace with the code below to create a new account  -->
        <!-- ============================================================================== -->


        <!--<div class="splash-container">
            <div class="card">
                <h1 class="card-header text-center">VISIOLAB</h1>
                <p class="card-header text-center">L'accès à la plateforme nécessite la validation d'une autorité supérieure acquise lors de l'inscription.</p>
                <div class="card-body">
                    <form id="loginForm" action="/login" method="POST">
                        <div class="form-group">
                            <input class="form-control form-control-lg" name="username" id="username" type="text" placeholder="Nom d'utilisateur" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-lg" name="password" id="password" type="password" placeholder="Mot de passe" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Connexion</button>
                    </form>
                </div>
                <div class="card-footer bg-white p-0 text-center">
                    <div class="card-footer-item card-footer-item-bordered">
                        <a href="/register" class="footer-link">S'inscrire</a>
                    </div>
                    <div class="card-footer-item card-footer-item-bordered">
                        <a href="#" class="footer-link">Mot de passe oublié</a>
                    </div>
                </div>
            </div>
        </div>-->

        <!-- ============================================================================== -->
        <!-- bumch of code you need to replace with the code below to create a new account  -->
        <!-- ============================================================================== -->

            <div class="splash-container">
                <img src="/img/logo_visio_supervision.png" class="logo">
                <div class="card" style="border-radius: 0px;">
                    <div class="card-header" style="text-align: center">Connectez-vous</div>
                    <div class="card-body">
                        <form id="loginForm" action="/login" method="POST">
                            <div class="form-group">
                                <input class="form-control form-control-lg" name="username" id="username" type="text" placeholder="Nom d'utilisateur" autocomplete="off" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-lg" name="password" id="password" type="password" placeholder="Mot de passe" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Connexion</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Loading Modal -->
            <div class="modal fade" id="badLoginModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Connexion impossible</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Le nom d'utilisateur ou mot de passe est invalible, veuillez réessayer.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
      
        <!-- ============================================================== -->
        <!-- end login page  -->
        <!-- ============================================================== -->
        <% include inc/importantjs.ejs %>
        <script>
            $(document).ready(function(){
                $("#badLoginModal").modal('show');
            });
        </script>
    </body>
</html>
