<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>VisioLab : Analyse de la caméra</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
        <link rel="stylesheet" href="/assets/vendor/fonts/circular-std/style.css">
        <link rel="stylesheet" href="/assets/vendor/charts/chartist-bundle/chartist.css">
        <link rel="stylesheet" href="/assets/vendor/charts/c3charts/c3.css">
        <link rel="stylesheet" type="text/css" href="/assets/vendor/chart.js/dist/Chart.min.css">
        <link rel="stylesheet" href="/assets/vendor/ion.rangeSlider/css/ion.rangeSlider.min.css">

        <% function dalleDate(seconds) {
            var date = new Date(seconds);
            return date.toISOString();
        }%>
    </head>
    <body id="<%= body._id %>">
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper dash_dal">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include inc/navbar.ejs %>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12" style="margin-left: 13px; margin-top: 22px;">
                    <nav aria-label="Page navigation example ">
                        <a style="padding: 20px; font-size: 30px; border-radius: 0px;" class="page-link" href="/analyse_camera/<%= body._id %>" aria-label="Previous">
                            <span aria-hidden="true">← Page précédente</span><span class="sr-only">Previous</span>
                        </a>
                    </nav>
                </div>
            </div>

            <div class="row">

                <div id="searchPost" class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="margin-left: 15px;">
                    <h5 style="border-radius: 0px; background-color: #2c3e50; color: #ffffff;" class="card-header text-center">Rechercher des détections</h5>
                    <form action="/dalle_camera/<%= body._id %>" method="post">

                        <div style="border-radius: 0px; margin-bottom: 1px;" class="card">
                            <h5 style="border-radius: 0px; background-color: #2c3e50; color: #ffffff;" class="card-header">Catégories</h5>
                            <div class="card-body">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="voiture" class="custom-control-input">
                                    <span class="custom-control-label">Voiture</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="personne" class="custom-control-input">
                                    <span class="custom-control-label">Personne</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="camion" class="custom-control-input">
                                    <span class="custom-control-label">Camion</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="velo" class="custom-control-input">
                                    <span class="custom-control-label">Vélo</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="moto" class="custom-control-input">
                                    <span class="custom-control-label">Moto</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="bus" class="custom-control-input">
                                    <span class="custom-control-label">Bus</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="sacados" class="custom-control-input">
                                    <span class="custom-control-label">Sac à Dos</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="sacamain" class="custom-control-input">
                                    <span class="custom-control-label">Sac à main</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="valise" class="custom-control-input">
                                    <span class="custom-control-label">Valise</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="animal" class="custom-control-input">
                                    <span class="custom-control-label">Animal</span>
                                </label>
                            </div>
                        </div>
                        <div style="border-radius: 0px;" class="card">
                            <h5 style="border-radius: 0px; background-color: #2c3e50; color: #ffffff;" class="card-header">Couleurs</h5>
                            <div class="card-body">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="rouge" class="custom-control-input">
                                    <span class="custom-control-label">Rouge</span>
                                    <span class="badge-dot" style="background-color: #ff0000;"></span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="orange" class="custom-control-input">
                                    <span class="custom-control-label">Orange</span>
                                    <span class="badge-dot" style="background-color: #ff9000;"></span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="jaune" class="custom-control-input">
                                    <span class="custom-control-label">Jaune</span>
                                    <span class="badge-dot" style="background-color: #ffff00;"></span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="vert" class="custom-control-input">
                                    <span class="custom-control-label">Vert</span>
                                    <span class="badge-dot" style="background-color: #2ca500;"></span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="vertclair" class="custom-control-input">
                                    <span class="custom-control-label">Vert clair</span>
                                    <span class="badge-dot" style="background-color: #91ff70;"></span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="bleu" class="custom-control-input">
                                    <span class="custom-control-label">Bleu</span>
                                    <span class="badge-dot" style="background-color: #0237cc;"></span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="bleuciel" class="custom-control-input">
                                    <span class="custom-control-label">Bleu ciel</span>
                                    <span class="badge-dot" style="background-color: #6db1ff;"></span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="violet" class="custom-control-input">
                                    <span class="custom-control-label">Violet</span>
                                    <span class="badge-dot" style="background-color: #9d6dff;"></span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="magenta" class="custom-control-input">
                                    <span class="custom-control-label">Rose/magenta</span>
                                    <span class="badge-dot" style="background-color: #fa6dff;"></span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="noir" class="custom-control-input">
                                    <span class="custom-control-label">Noir</span>
                                    <span class="badge-dot" style="background-color: black;"></span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="blanc" class="custom-control-input">
                                    <span class="custom-control-label">Blanc</span>
                                    <span class="badge-dot" style="background-color: white;border-style: solid;border-width: 1px;border-color: grey;"></span>
                                </label>
                            </div>
                            <div style="margin-bottom: 0px; border-radius: 0px;" class="card">
                                <h5 style="border-radius: 0px; background-color: #2c3e50; color: #ffffff;" class="card-header">Zones</h5>
                                <div class="card-body">
                                    <% if (body.areas.areas && body.areas.areas.length > 0) { %>
                                        <% body.areas.areas.forEach((area) => { %>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" name="area_<%= area.name %>" class="custom-control-input">
                                            <span class="custom-control-label"><%= area.name %></span>
                                        </label>
                                        <% }) %>
                                    <% } else { %>
                                    <div style="padding: 30px; height: 100%; border: 2px dashed #3D405C" class="col-12 jumbotron">
                                        <h3 class="display-8">Aucune zone</h3>
                                        <hr class="my-4">
                                        <p>Aucune zone n'a été sélectionnée.</p>
                                        <p class="lead">
                                            <a class="btn btn-primary btn-lg" href="/area_camera/<%= body._id %>" role="button">Encadrer des zones</a>
                                        </p>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <input class="btn btn-primary" style="width: 100%;" type="submit" value="Rechercher">
                        </div>
                    </form>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                    <div class="card-group" style="margin-left: -27px;">
                        <% moment.locale('fr'); %>
                        <% if (body.detections && body.detections.detections) { %>
                            <% body.detections.detections.forEach((detection) => { %>
                        <div class="col-xl-2 col-lg-3 col-sm-3 col-md-3 col-3">
                            <div class="card">
                                <img data-toggle="modal" id="<%= detection.progressSec %>" name="sequences" class="sequence" src="<%= detection.src %>" alt="<%= detection.src %>" style="width:100%;">
                                <div class="card-footer">
                                    <p class="card-text" style="text-align: center;"><%= dalleDate(detection.date) %></p>
                                 </div>
                            </div>
                        </div>
                            <% }) %>
                        <% } else { %>
                        <div class="col-12 jumbotron">
                            <h3 class="display-5">Aucune détection</h3>
                            <hr class="my-4">
                            <p>Aucun objet recherché n'a été détecté.</p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="/analyse_camera/<%= body._id %>" role="button">Visionner la caméra</a>
                            </p>
                        </div>
                        <% } %>

                        <!-- Pagination !-->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <nav aria-label="Page navigation example ">
                                <ul class="pagination">
                                    <% if (body.page != 0) { %>
                                    <li class="page-item">
                                        <a style="padding: 20px; font-size: 20px;" class="page-link" href="<%= body.previousUrl %>" aria-label="Previous">
                                            <span aria-hidden="true">← Page précédente</span><span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a style="padding: 20px; font-size: 20px;" class="page-link" href="<%= body.firstUrl %>" aria-label="Next">
                                            <span aria-hidden="true">Première page ↗</span><span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    <% } %>
                                    <% if (body.detections && body.detections.detections && body.detections.detections.length == 84) { %>
                                    <li class="page-item">
                                        <a style="padding: 20px; font-size: 20px;" class="page-link" href="<%= body.nextUrl %>" aria-label="Next">
                                            <span aria-hidden="true">Page suivante →</span><span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    <% } %>
                                 </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal viewer !-->
        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div style="max-width: 60%;" class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Détails de la séquence</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style="overflow: auto; text-align: center;">
                            <canvas id="imgCanvas"></canvas>
                        </div>
                        <div style="padding: 20px; margin: 0px;" class="card-body">
                            <canvas id="detectionsStats"></canvas>
                        </div>
                    </div>
                    <button data-toggle="modal" id="exportPDFBtn" class="btn btn-primary btn-lg btn-block"><span class="fas fa-file-pdf"></span> Générer un rapport PDF</button>
                </div>
            </div>
        </div>

        <!-- Wait Modal !-->
        <div class="modal fade" id="waitModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Rapport PDF</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Le rapport PDF est en cours de préparation, vous allez être redirigé.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <!-- Optional JavaScript -->
        <% include inc/importantjs.ejs %>
    </body>
    <script src="/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/assets/vendor/socket.io-client/dist/socket.io.js"></script>
    <script src="/assets/vendor/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <script src="/assets/vendor/jspdf/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        $(document).ready(function(){

            var token = getCookie("token");
            var id = document.body.getAttribute('id');

            /* Tools */

            function createCORSReq(method, url) {

                let req = new XMLHttpRequest();

                if ("withCredentials" in req) {
                    req.open(method, url, true); 
                } else if (typeof XDomainRequest != "undefined") {
                    req = new XDomainRequest();
                    req.open(method, url, true); 
                } else {
                    req.open(method, url, true); 
                }
                return (req);
            }

            /* Cookies */

            function getCookie(cname) {

                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');

                for(var i = 0; i < ca.length; i++) {
                    var c = ca[i];

                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            function getDatas(detection) {
                var data = [];
                var personne = 0;
                var velo = 0;
                var voiture = 0;
                var moto = 0;
                var bus = 0;
                var camion = 0;
                var sacados = 0;
                var sacamains = 0;
                var valise = 0;
                var animal = 0;

                for (var i = 0; i < detection.dets.length; i++) {
                    if (detection.dets[i].class == 0)
                        personne += 1;
                    else if (detection.dets[i].class == 1)
                        velo += 1;
                    else if (detection.dets[i].class == 2)
                        voiture += 1;
                    else if (detection.dets[i].class == 3)
                        moto += 1;
                    else if (detection.dets[i].class == 4)
                        bus += 1;
                    else if (detection.dets[i].class == 5)
                        camion += 1;
                    else if (detection.dets[i].class == 6)
                        sacados += 1;
                    else if (detection.dets[i].class == 7)
                        sacamains += 1;
                    else if (detection.dets[i].class == 8)
                        valise += 1;
                    else if (detection.dets[i].class == 9)
                        animal += 1;
                }
                data.push(personne);
                data.push(velo);
                data.push(voiture);
                data.push(moto);
                data.push(bus);
                data.push(camion);
                data.push(sacados);
                data.push(sacamains);
                data.push(valise);
                data.push(animal);
                return (data);
            }

            function drawArea(ctx, area) {
                var topCoords = [];

                ctx.strokeStyle = "#32ff7e";
                ctx.lineWidth = 1;
                if (area.coords[2] < 0) {
                    topCoords.push(area.coords[0] + area.coords[2]);
                    topCoords.push(area.coords[0]);
                } else {
                    topCoords.push(area.coords[0]);
                    topCoords.push(area.coords[0] + area.coords[2]);
                }
                if (area.coords[3] < 0) topCoords.push(area.coords[1] + area.coords[3]);
                else topCoords.push(area.coords[1]);
                if (area.name) {
                    ctx.strokeText(area.name, topCoords[0], topCoords[2] - 8);
                }
                ctx.lineWidth = 3;
                ctx.strokeRect(area.coords[0], area.coords[1], area.coords[2], area.coords[3]);
            }

            function classIntToString(classes) {
                if (classes == 0) return ('Personne');
                else if (classes == 1) return ('Vélo');
                else if (classes == 2) return ('Voiture');
                else if (classes == 3) return ('Moto');
                else if (classes == 4) return ('Bus');
                else if (classes == 5) return ('Camion');
                else if (classes == 6) return ('Sac à dos');
                else if (classes == 7) return ('Sac à main');
                else if (classes == 8) return ('Valise');
                else if (classes == 9) return ('Animal');
                else return ('Unknown');
            }

            function coordsRectify(x, y, w, h)
            {
                if (w < 0)
                {
                    x = x + w;
                    w = w * -1;
                }
                if (h < 0)
                {
                    y = parseInt(y + h);
                    h = h * -1;
                }
                coords = [x, y, w, h];
                return (coords);
            }

            var canvas = document.getElementById('detectionsStats');
            var imgCanvas = document.getElementById('imgCanvas');
            var imgCanvasCtx = imgCanvas.getContext('2d');
            var ctx = canvas.getContext('2d');
            var sequencesName = document.getElementsByName('sequences');
            var imgObj = new Image();

            sequencesName.forEach((sequence) => {

                /* Sequence Viewer */
                sequence.addEventListener('click', () => {
                    var progressSec = sequence.getAttribute("id");
                    var request = createCORSReq('GET', 'http://127.0.0.1:8003/vision/v1/detections/cameras/' + id + '/progressSec/' + progressSec);

                    request.onreadystatechange = function () {

                        if(request.readyState === 4 && request.status === 200) {
                            var responseJSON = JSON.parse(request.response).detection;

                            /* Get Img */
                            imgObj.src = responseJSON.src;
                            imgObj.onload = function() {
                                imgCanvas.width = imgObj.width;
                                imgCanvas.height = imgObj.height;
                                imgCanvasCtx.drawImage(imgObj, 0, 0);

                                 /* Draw dets */
                                for (var i = 0; i < responseJSON.dets.length; i++) {
                                    var coordsRectif = coordsRectify(responseJSON.dets[i].x, responseJSON.dets[i].y, responseJSON.dets[i].w, responseJSON.dets[i].h);

                                    if (responseJSON.dets[i].class != -1) {
                                        drawArea(imgCanvasCtx, {
                                            coords: coordsRectif,
                                            name: classIntToString(responseJSON.dets[i].class)
                                        });
                                    }
                                }
                            }

                            /* Get stats */
                            var chart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: ['Personne', 'Vélo', 'Voiture', 'Moto', 'Bus', 'Camion', 'Sac à dos', 'Sac à main', 'Valise', 'Animal'],
                                    datasets: [{
                                        label: 'Nombre de detections',
                                        data: getDatas(responseJSON),
                                        backgroundColor: "rgba(0, 255, 0, 0.3)"
                                    }]
                                },
                                options : {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true,
                                                userCallback: function(label, index, labels) {
                                                    // when the floored value is the same as the value we have a whole number
                                                    if (Math.floor(label) === label) {
                                                        return label;
                                                    }
                                                },
                                            }
                                        }]
                                    },
                                }
                            });

                            /* Export PDF */
                            var exportPDFBtn = document.getElementById('exportPDFBtn');

                            exportPDFBtn.addEventListener('click', () => {
                                $("#waitModal").modal('show');
                                setTimeout(() => {
                                    /* Generate PDF */
                                    var req = createCORSReq('POST', 'http://127.0.0.1:8003/vision/v1/export/' + id);
                                    var token = getCookie("token");

                                    req.onreadystatechange = function () {
                                        if(req.readyState === 4 && req.status === 200) {
                                            document.location = JSON.parse(req.responseText).url;
                                        }
                                    };
                                    req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                                    req.setRequestHeader("Authorization", "Bearer " + token);
                                    req.send("progressSec=" + progressSec + "&statsDataUrl=" + encodeURIComponent(canvas.toDataURL('image/png')));
                                }, 3000);
                            });

                        }
                    };

                    request.setRequestHeader("Authorization", "Bearer " + token);
                    request.send();
                    $("#viewModal").modal('show');
                });
            });

        });
    </script>
 
</html>
