<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>VisioLab : Tableau de bord</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include inc/navbar.ejs %>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
            <!-- ============================================================== -->
            <% include inc/lsidebar.ejs %>
            <!-- ============================================================== -->
            <!-- end left sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="padding-0 dashboard-wrapper">
                <div class="padding-0 container-fluid">
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="padding-0 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Mon compte</h5>
                                <div class="card-body text-center" style="min-height: 300px;">
                                    <a href="/my_account" class="btn" role="button">
                                        <i class="fas fa-user-circle" style="font-size: 150px;line-height: 230px; color: #ff6b61;"></i>
                                    </a>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text" style="text-align: center;">Accéder aux informations générales, de connexions et d'administrations.</p>
                                </div>
                            </div>
                        </div>

                        <div class="padding-0 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Afficher la liste des caméras</h5>
                                <div class="card-body text-center" style="min-height: 300px;">
                                    <a href="/list_camera" class="btn" role="button">
                                        <i class="fas fa-list" style="font-size: 150px;line-height: 230px; color: #ff6b61;"></i>
                                    </a>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text" style="text-align: center;">Afficher la liste de toutes les caméras ajoutées sur votre application VisioLab.</p>
                                </div>
                            </div>
                        </div>

                        <div class="padding-0 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Ajouter une caméra</h5>
                                <div class="card-body text-center" style="min-height: 300px;">
                                    <a href="/add_camera" class="btn" role="button">
                                        <i class="fas fa-plus" style="font-size: 150px;line-height: 230px; color: #ff6b61;"></i></a> <!--green #2ecc71-->
                                </div>
                                <div class="card-footer">
                                    <p class="card-text" style="text-align: center;">Ajouter une caméra depuis votre ordinateur.</p>
                                </div>
                            </div>
                        </div>

                        <div class="padding-0 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Rechercher une caméra</h5>
                                <div class="card-body text-center" style="min-height: 300px;">
                                    <a href="/search_camera" class="btn" role="button">
                                        <i class="fas fa-search" style="font-size: 150px;line-height: 230px; color: #ff6b61;"></i>
                                    </a>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text" style="text-align: center;">Rechercher une caméra préalablement ajoutée.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <% include inc/footer.ejs %>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <% include inc/importantjs.ejs %>
    </body>
    <style>
        .footer { left: 264px; }
    </style>
</html>
