<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>VisioLab : Mon compte</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include inc/navbar.ejs %>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
            <!-- ============================================================== -->
            <% include inc/lsidebar.ejs %>
            <!-- ============================================================== -->
            <!-- end left sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Mon compte</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Tableau de bord</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Mon compte</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center">
                                        <i class="fas fa-user-circle" style="font-size: 150px;line-height: 180px;"></i>
                                    </div>
                                    <div class="text-center">
                                        <h2 class="font-24 mb-0"><%= body.user.payload.username %></h2>
                                        <% if (body.user.payload.is_admin) { %>
                                        <p>Administrateur</p>
                                        <% } else { %>
                                        <p>Utilisateur</p>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="card-body border-top">
                                    <h3 class="font-16">Informations</h3>
                                    <div class="">
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><i class="fas fa-fw fa-user mr-2"></i><%= body.user.payload.username %></li>
                                            <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i><%= body.user.payload.mail %></li>
                                            <li class="mb-2"><i class="fas fa-fw fa-clock mr-2"></i>Compte créé le <%= body.user.payload.datetime %></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-7 col-sm-12 col-12">
                            <!-- ============================================================== -->
                            <!-- campaign tab one -->
                            <!-- ============================================================== -->
                            <div class="influence-profile-content pills-regular">
                                <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-general-tab" data-toggle="pill" href="#pills-general" role="tab" aria-controls="pills-general" aria-selected="true">Informations générales</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-myconnections-tab" data-toggle="pill" href="#pills-myconnections" role="tab" aria-controls="pills-myconnections" aria-selected="false">Mes connexions</a>
                                    </li>
                                    <% if (body.user.payload.is_admin) { %>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-allconnections-tab" data-toggle="pill" href="#pills-allconnections" role="tab" aria-controls="pills-allconnections" aria-selected="false">Connexions des utilisateurs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-accountmanager-tab" data-toggle="pill" href="#pills-accountmanager" role="tab" aria-controls="pills-accountmanager" aria-selected="false">Gestion des comptes</a>
                                    </li>
                                    <% } %>
                                </ul>

                                <% if (body.notification == "success") { %>
                                <!-- Account Create Modal -->
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="padding: 30px 30px 15px 30px;">
                                    <h3>Le compte a été créé.</h3>
                                    <p>Le compte a été créé, vous pouvez visiter son profil via la liste des utilisateurs dans l'onglet <strong>Gestion des comptes</strong> puis la rubrique <strong>Liste des utilisateurs</strong></p>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <% } else if (body.notification == "failure") { %>
                                <!-- Account Not Create Modal -->
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="padding: 30px 30px 15px 30px;">
                                    <h3>Le compte n'a pas été créé.</h3>
                                    <p>Détails des conditions nécessaire a la création d'un compte :</p>
                                    <ul>
                                        <li>Le nom d'utilisateur doit contenir 4 lettres au minimum.</li>
                                        <li>L'adresse mail doit être valide.</li>
                                        <li>Le mot de passe de confirmation doit être identique au mot de passe créé.</li>
                                        <li>Le mot de passe doit contenir 8 caractères au minimum. Utilisez de préférence un générateur de mot de passe aléatoire.</li>
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <% } else if (body.notification == "delete") { %>
                                <!-- Account Delete Modal -->
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="padding: 30px 30px 15px 30px;">
                                    <h3>Le compte a été supprimé.</h3>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <% } %>

                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-general" role="tabpanel" aria-labelledby="pills-general-tab">

                                        <!-- Generals !-->
                                        <div class="card">
                                            <h5 class="card-header">Modifier mon compte</h5>
                                                <div class="card-body">

                                                    <!-- Username !-->
                                                    <div class="form-group row">
                                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Nom d'utilisateur</label>
                                                        <div class="col-12 col-sm-8 col-lg-6 input-group">
                                                            <input type="text" placeholder="<%= body.user.payload.username %>" class="form-control" disabled required>
                                                            <button class="btn btn-primary" data-toggle="modal" data-target="#modifUsername">Modifier</button>
                                                            <div class="modal fade" id="modifUsername" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Modifier le nom d'utilisateur</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="form-group row">
                                                                                <label class="col-3 col-sm-3 col-form-label text-sm-right">Nom d'utilisateur</label>
                                                                                <div class="col-9 col-sm-9 col-lg-6">
                                                                                    <input type="text" class="form-control" placeholder="Doit contenir plus de 4 lettres" id="usernameInput" required>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-primary" id="usernameBtn">Modifier</button>
                                                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Mail !-->
                                                    <div class="form-group row">
                                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Adresse mail</label>
                                                        <div class="col-12 col-sm-8 col-lg-6 input-group">
                                                            <input type="text" placeholder="<%= body.user.payload.mail %>" class="form-control" disabled required>
                                                            <button class="btn btn-primary" data-toggle="modal" data-target="#modifMail">Modifier</button>
                                                            <div class="modal fade" id="modifMail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Modifier l'adresse mail</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="form-group row">
                                                                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Adresse mail</label>
                                                                                <div class="col-12 col-sm-8 col-lg-6">
                                                                                    <input type="text" class="form-control" id="mailInput" required>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group row">
                                                                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Confirmation de l'adresse mail</label>
                                                                                <div class="col-12 col-sm-8 col-lg-6">
                                                                                    <input type="text" class="form-control" id="mailConfInput" required>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-primary" id="mailBtn">Modifier</button>
                                                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Password !-->
                                                    <div class="form-group row">
                                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Mot de passe</label>
                                                        <div class="col-12 col-sm-8 col-lg-6 input-group">
                                                            <input type="password" placeholder="<%= body.user.payload.hpass %>" class="form-control" disabled required>
                                                            <button class="btn btn-primary" data-toggle="modal" data-target="#modifPassword">Modifier</button>
                                                            <div class="modal fade" id="modifPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Modifier le mot de passe</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="form-group row">
                                                                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Ancien mot de passe</label>
                                                                                <div class="col-12 col-sm-8 col-lg-6">
                                                                                    <input type="password" class="form-control" placeholder="<%= body.user.payload.hpass %>" id="lastPasswordInput" required>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group row">
                                                                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Nouveau mot de passe</label>
                                                                                <div class="col-12 col-sm-8 col-lg-6">
                                                                                    <input type="password" class="form-control" placeholder="Doit contenir 8 lettres minimum" id="passwordInput" required>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group row">
                                                                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Confirmation du mot de passe</label>
                                                                                <div class="col-12 col-sm-8 col-lg-6">
                                                                                    <input type="password" class="form-control" placeholder="Retapez le nouveau mot de passe" id="confPasswordInput" required>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-primary" id="passwordBtn">Modifier</button>
                                                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Remove account !-->
                                                    <div class="col-12" style="margin: 0px; margin-top: 25px;">
                                                        <div class="jumbotron" style="padding: 25px;">
                                                            <h3 class="display-6">Attention</h3>
                                                            <hr class="my-4">
                                                            <p>Un clic sur ce bouton engendre la suppression de ce compte, cette action est irréversible.</p>
                                                            <button type="button" id="deleteAccountBtn" class="btn btn-secondary" data-dismiss="modal">Supprimer mon compte</button>
                                                        </div>
                                                    </div>
                                                    <!-- Delete Account Modal -->
                                                    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>Êtes-vous sûr de vouloir supprimer ce compte ?</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button id="confirmDeleteBtn" type="button" class="btn btn-primary" data-dismiss="modal">Confirmer</button>
                                                                    <a href="/list_video"><button type="button" class="btn btn-secondary">Annuler</button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>

                                        <!-- My Connections !-->
                                        <div class="tab-pane fade" id="pills-myconnections" role="tabpanel" aria-labelledby="pills-myconnections-tab">
                                            <div class="card">
                                                <h5 class="card-header">Mes connexions</h5>
                                                <div class="card-body">
                                                    <div class="table-responsive overflow-visible" style="max-height: 54vh;">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Utilisateur</th>
                                                                    <th scope="col">Dates</th>
                                                                    
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% if (body.connections.length > 0) { %>
                                                                    <% body.connections.forEach((connection) => { %>
                                                                        <% if (body.user.payload.username == connection.username) { %>
                                                                <tr>
                                                                    <td id="usernameTd"><%= connection.username %></td>
                                                                    <td><%= connection.datetime %></td>
                                                                </tr>
                                                                        <% } %>
                                                                    <% }); %>
                                                                <% } %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- All Connections !-->
                                        <% if (body.user.payload.is_admin) { %>
                                        <div class="tab-pane fade" id="pills-allconnections" role="tabpanel" aria-labelledby="pills-allconnections-tab">
                                            <div class="card">
                                                <h5 class="card-header">Connexions des utilisateurs</h5>
                                                <div class="card-body">
                                                    <% if (body.connections.length > 0) { %>
                                                    <div class="table-responsive overflow-visible" style="max-height: 54vh;">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Utilisateur</th>
                                                                    <th scope="col">Date</th>
                                                                    
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% body.connections.forEach((connection) => { %>
                                                                    <% if (body.user.payload.username != connection.username) { %>
                                                                <tr>
                                                                    <td><a href="/profil/<%= connection.username %>"><%= connection.username %></a></td>
                                                                    <td><%= connection.datetime %></td>
                                                                </tr>
                                                                       <% } %>
                                                                <% }); %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <% } else { %>
                                                    <div class="col-12 jumbotron">
                                                        <h3 class="display-5">Aucune connexion</h3>
                                                        <hr class="my-4">
                                                        <p>Aucune connexion d'un utilisateur quelconque.</p>
                                                    </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Account Manager !-->
                                        <div class="tab-pane fade" id="pills-accountmanager" role="tabpanel" aria-labelledby="pills-accountmanager-tab">
                                            <div class="card" style="min-height: 301px">
                                                <h5 class="card-header">Gestion des comptes</h5>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                                <a class="nav-link active text-center v-pills" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                                                    Créer un utilisateur
                                                                </a>
                                                                <a class="nav-link text-center v-pills" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                                                                    Voir tous les utilisateurs
                                                                </a>
                                                                <a class="nav-link text-center v-pills" id="v-pills-analyse-tab" data-toggle="pill" href="#v-pills-analyse" role="tab" aria-controls="v-pills-analyse" aria-selected="false">
                                                                    Voir toutes les analyses
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="col-9">
                                                            <div class="tab-content" id="v-pills-tabContent">

                                                                <!-- Create account !-->
                                                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                                    <form id="registerForm" action="/my_account/create_user" method="POST">
                                                                        <div class="form-group">
                                                                            <label>Nom d'utilisateur</label>
                                                                            <input name="username" type="text" class="form-control mb-4">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Adresse mail</label>
                                                                            <input name="mail" type="text" class="form-control mb-4">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Mot de passe</label>
                                                                            <input name="password" type="password" class="form-control mb-4">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Confirmation mot de passe</label>
                                                                            <input name="conf_password" type="password" class="form-control mb-4">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="input-group mb-3">
                                                                                <div class="input-group-prepend">
                                                                                    <button id="generatePassBtn" class="btn btn-primary btn-lg">Générer un mot de passe</button>
                                                                                </div>
                                                                                <input id="generatePassInput" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                                                                            </div>
                                                                        </div>
                                                                        <h5>Statut</h5>
                                                                        <div class="check-group">
                                                                            <label class="custom-control custom-radio custom-control-inline">
                                                                                <input name="is_admin" type="radio" name="radio-inline" class="custom-control-input" value="false" checked><span class="custom-control-label">Utilisateur</span>
                                                                            </label>
                                                                            <label class="custom-control custom-radio custom-control-inline">
                                                                                <input name="is_admin" type="radio" name="radio-inline" class="custom-control-input" value="true"><span class="custom-control-label">Administrateur</span>
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="btn-group float-right">
                                                                                <button class="btn btn-primary mr-2">Valider</button>
                                                                                <button id="createCancelBtn" class="btn btn-outline-secondary">Annuler</button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>

                                                                <!-- List users !-->
                                                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">    
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <% if (body.users.length > 1) { %>
                                                                            <div class="table-responsive overflow-visible" style="max-height: 54vh;">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th class="scope">Nom d'utilisateur</th>
                                                                                            <th class="scope">Privilège</th>
                                                                                            <th class="scope">Date de création du compte</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <% body.users.forEach((user) => { %>
                                                                                            <% if (body.user.payload.username != user.username) { %>
                                                                                        <tr>
                                                                                            <td><a href="/profil/<%= user.username %>"><%= user.username %></a></td>
                                                                                            <% if (user.is_admin) { %>
                                                                                            <td>Administrateur</td>
                                                                                            <% } else { %>
                                                                                            <td>Utilisateur</td>
                                                                                            <% } %>
                                                                                            <td><a href="/profil/<%= user.username %>"><%= user.datetime %></a></td>
                                                                                        </tr>
                                                                                            <% } %>
                                                                                        <% }); %>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <% } else { %>
                                                                            <div class="col-12 jumbotron">
                                                                                <h3 class="display-5">Aucun utilisateur</h3>
                                                                                <hr class="my-4">
                                                                                <p>Vous êtes seul au monde, vous pouvez créer un nouvelle utilisateur dans la rubrique <strong>Créer un utilisateur</strong>.</p>
                                                                            </div>
                                                                            <% } %>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- List analyses !-->
                                                                <div class="tab-pane fade" id="v-pills-analyse" role="tabpanel" aria-labelledby="v-pills-analyse-tab">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <% if (body.analyses.length > 0) { %>
                                                                            <div class="table-responsive overflow-visible" style="max-height: 54vh;">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th class="scope">URL</th>
                                                                                            <th class="scope">Propriétaire</th>
                                                                                            <th class="scope">Statut</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <% body.analyses.forEach((analyse) => { %>
                                                                                        <tr>
                                                                                            <td><a href="/analyse_video/<%= analyse.jsonRes._id %>"><%= analyse.jsonRes.url %></a></td>
                                                                                            <td><%= analyse.jsonRes.username %></td>
                                                                                            <% if (analyse.jsonRes.detected) { %>
                                                                                            <td>Terminé</td>
                                                                                            <% } else { %>
                                                                                            <td>En cours</td>
                                                                                            <% } %>
                                                                                        </tr>
                                                                                        <% }); %>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <% } else { %>
                                                                            <div class="col-12 jumbotron">
                                                                                <h3 class="display-5">Aucune analyse</h3>
                                                                                <hr class="my-4">
                                                                                <p>Aucune analyse est en cours, il est possible que VisioLab soit en cours de chargement.</p>
                                                                            </div>
                                                                            <% } %>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end campaign tab one -->
                            <!-- ============================================================== -->
                        </div>
                </div>
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <% include inc/footer.ejs %>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <% include inc/importantjs.ejs %>
        <script src="/js/my_account.js"></script>
    </body>
</html>
