<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>VisioLab : Profil</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include inc/navbar.ejs %>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
            <!-- ============================================================== -->
            <% include inc/lsidebar.ejs %>
            <!-- ============================================================== -->
            <!-- end left sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Profil de <%= body.user.username %></h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Tableau de bord</a></li>
                                            <li class="breadcrumb-item" aria-current="page"><a href="/my_account" class="breadcrumb-link">Mon compte</a></li>
                                            <li class="breadcrumb-item active" aria-current="page"><%= body.user.username %></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center">
                                        <i class="fas fa-user-circle" style="font-size: 150px;line-height: 180px;"></i>
                                    </div>
                                    <div class="text-center">
                                        <h2 class="font-24 mb-0"><%= body.user.username %></h2>
                                        <% if (body.user.is_admin) { %>
                                        <p>Administrateur</p>
                                        <% } else { %>
                                        <p>Utilisateur</p>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="card-body border-top">
                                    <h3 class="font-16">Informations</h3>
                                    <div class="">
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><i class="fas fa-fw fa-user mr-2"></i><span id="usernameTd"><%= body.user.username %></span></li>
                                            <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i><%= body.user.mail %></li>
                                            <li class="mb-2"><i class="fas fa-fw fa-clock mr-2"></i>Compte créé le <%= body.user.datetime %></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-7 col-sm-12 col-12">
                            <!-- ============================================================== -->
                            <!-- campaign tab one -->
                            <!-- ============================================================== -->
                            <div class="influence-profile-content pills-regular">
                                <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-general-tab" data-toggle="pill" href="#pills-general" role="tab" aria-controls="pills-general" aria-selected="true">Informations générales</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-connections-tab" data-toggle="pill" href="#pills-connections" role="tab" aria-controls="pills-connections" aria-selected="false">Connexions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-uploads-tab" data-toggle="pill" href="#pills-uploads" role="tab" aria-controls="pills-uploads" aria-selected="false">Caméras importées</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-general" role="tabpanel" aria-labelledby="pills-general-tab">

                                        <!-- General !-->
                                        <div class="card">
                                            <h5 class="card-header">Informations générales de l'utilisateur</h5>
                                                <div class="card-body">

                                                    <!-- Username !-->
                                                    <div class="form-group row">
                                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Nom d'utilisateur</label>
                                                        <div class="col-12 col-sm-8 col-lg-6 input-group">
                                                            <input type="text" placeholder="<%= body.user.username %>" class="form-control" disabled>
                                                        </div>
                                                    </div>

                                                    <!-- Mail !-->
                                                    <div class="form-group row">
                                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Adresse mail</label>
                                                        <div class="col-12 col-sm-8 col-lg-6 input-group">
                                                            <input type="text" placeholder="<%= body.user.mail %>" class="form-control" disabled>
                                                        </div>
                                                    </div>

                                                    <!-- Privileges !-->
                                                    <div class="col-12" style="margin: 0px; margin-top: 25px;">
                                                        <div class="jumbotron" style="padding: 25px;">
                                                            <h3 class="display-6">Privilèges</h3>
                                                            <hr class="my-4">
                                                            <p>Cette zone concerne la modification des privilèges de cet utilisateur.</p>
                                                            <p>Les droits dont bénéficie l'utilisateur :</p>
                                                            <ul>
                                                                <li>Modifier ses informations personnelles</li>
                                                                <li>Supprimer son compte</li>
                                                                <li>Observer ses connexions</li>
                                                                <li>Importer des caméras</li>
                                                                <li>Visionner et analyser ses propres caméras</li>
                                                            </ul>
                                                            <p>Les droits dont bénéficie l'administrateur :</p>
                                                            <ul>
                                                                <li>Les droits de l'utilisateur</li>
                                                                <li>Visiter les comptes utilisateurs et administrateurs</li>
                                                                <li>Supprimer un compte</li>
                                                                <li>Observer les connexions d'un ou plusieurs utilisateurs</li>
                                                                <li>Visionner et analyser les caméras de tous les utilisateurs</li>
                                                                <li>Créer un compte utilisateur ou administrateur</li>
                                                            </ul>
                                                            <form>
                                                                <div class="form-group">
                                                                    <% if (body.user.is_admin) { %>
                                                                    <select id="privilegesSelect" class="form-control" id="exampleFormControlSelect1">
                                                                        <option value="1">Administrateur</option>
                                                                        <option value="0">Utilisateur</option>
                                                                    </select>
                                                                    <% } else { %>
                                                                    <select id="privilegesSelect" class="form-control" id="exampleFormControlSelect1">
                                                                        <option value="0">Utilisateur</option>
                                                                        <option value="1">Administrateur</option>
                                                                    </select>
                                                                    <% } %>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="button" id="privilegesBtn" class="btn btn-warning" data-dismiss="modal" style="color: #ffffff;">Modifier</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <!-- Remove account !-->
                                                    <div class="col-12" style="margin: 0px; margin-top: 25px;">
                                                        <div class="jumbotron" style="padding: 25px;">
                                                            <h3 class="display-6">Attention</h3>
                                                            <hr class="my-4">
                                                            <p>Un clic sur ce bouton engendre la suppression de ce compte et les données associées, cette action est irréversible.</p>
                                                            <button type="button" id="deleteAccountBtn" class="btn btn-secondary" data-dismiss="modal">Supprimer ce compte</button>
                                                        </div>
                                                    </div>
                                                    <!-- Delete Account Modal -->
                                                    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>Êtes-vous sûr de vouloir supprimer ce compte ?</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button id="confirmDeleteBtn" type="button" class="btn btn-primary" data-dismiss="modal">Confirmer</button>
                                                                    <a href="/list_camera"><button type="button" class="btn btn-secondary">Annuler</button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <!-- Connections !-->
                                        <div class="tab-pane fade" id="pills-connections" role="tabpanel" aria-labelledby="pills-connections-tab">
                                            <div class="card">
                                                <h5 class="card-header">Connexions</h5>
                                                <div class="card-body">
                                                    <div class="table-responsive overflow-visible" style="max-height: 54vh;">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Utilisateur</th>
                                                                    <th scope="col">Dates</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% if (body.connections.length > 0) { %>
                                                                    <% body.connections.forEach((connection) => { %>
                                                                        <% if (body.user.username == connection.username) { %>
                                                                <tr>
                                                                    <td><%= connection.username %></td>
                                                                    <td><%= connection.datetime %></td>
                                                                </tr>
                                                                        <% } %>
                                                                    <% }); %>
                                                                <% } %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Uploads !-->
                                        <div class="tab-pane fade" id="pills-uploads" role="tabpanel" aria-labelledby="pills-uploads-tab">
                                            <div class="card">
                                                <h5 class="card-header">Caméras importées</h5>
                                                <div class="card-body">
                                                    <% if (body.cameras.length > 0) { %>
                                                    <div class="table-responsive overflow-visible" style="max-height: 54vh;">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Domaine</th>
                                                                    <th scope="col">URL</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% body.cameras.forEach((camera) => { %>
                                                                <tr>
                                                                    <td><a href="/analyse_camera/<%= camera._id %>"><%= camera.namespace %></a></td>
                                                                    <td><%= camera.url %></td>
                                                                </tr>
                                                                <% }); %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <% } else { %>
                                                    <div class="col-12 jumbotron">
                                                        <h3 class="display-5">Aucune caméra</h3>
                                                        <hr class="my-4">
                                                        <p>Aucune caméra n'a été importée par cet utilisateur.</p>
                                                    </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end campaign tab one -->
                            <!-- ============================================================== -->
                        </div>
                </div>
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <% include inc/footer.ejs %>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <% include inc/importantjs.ejs %>
        <script src="/js/profil.js"></script>
    </body>
</html>
