<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>VisioLab : Rechercher une caméra</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
        <link rel="stylesheet" href="/assets/vendor/tagmanager/tagmanager.css">
        <link rel="stylesheet" type="text/css" href="datepicker.min.css">
        <style>
            .form-control {
                width: 100%;
            }
            .multiselect-container {
                box-shadow: 0 3px 12px rgba(0,0,0,.175);
                margin: 0;
            }
            .multiselect-container .checkbox {
                margin: 0;
            }
            .multiselect-container li {
                margin: 0;
                padding: 0;
                line-height: 0;
            }
            .multiselect-container li a {
                line-height: 25px;
                margin: 0;
                padding:0 35px;
            }
            .custom-btn {
                width: 100% !important;
            }
            .custom-btn .btn, .custom-multi {
                text-align: left;
                width: 100% !important;
            }
            .dropdown-menu > .active > a:hover {
                color:inherit;
            }
        </style>
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include inc/navbar.ejs %>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
            <!-- ============================================================== -->
            <% include inc/lsidebar.ejs %>
            <!-- ============================================================== -->
            <!-- end left sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Rechercher des caméras</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Tableau de bord</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Rechercher des caméras</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <div class="row justify-content-center ">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Recherche:</h5>
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 mx-auto">
                                    <div class="card-body">
                                        <div class="input-group">
                                            <div class="input-group-prepend be-addon col-10 mx-auto">
                                                <button tabindex="-1" type="button" class="btn btn-secondary styleEngine" id="choice" style="min-width: 110px">Par nom</button>
                                                <button tabindex="-1" data-toggle="dropdown" type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" aria-expanded="false">
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(99px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                    <a href="#" class="dropdown-item" id="searchName" name="searchBtn">Par nom</a>
                                                    <a href="#" class="dropdown-item" id="searchTag" name="searchBtn">Par Tag</a>
                                                    <a href="#" class="dropdown-item" id="searchDate" name="searchBtn">Par date</a>
                                                    <a href="#" class="dropdown-item" id="searchUser" name="searchBtn">Par utilisateur</a>
                                                    <a href="#" class="dropdown-item" id="searchStatus" name="searchBtn">Par statut</a>
                                                </div>
                                                <div id="searchInput" style="width: 100%;min-height: 45px;">
                                                    <!--<input type="text" class="form-control styleEngine" placeholder="Enter un nom de caméra" style="min-height: 45px;">-->
                                                    <select class="form-control" id="input-select-name" style="height: 100%;">
                                                        <% if (body.cameras.cameras && body.cameras.cameras.length > 0) { %>
                                                            <% body.cameras.cameras.forEach((camera) => { %>
                                                                <option><%= camera.namespace %></option>
                                                            <% }) %>
                                                        <% } %>
                                                    </select>
                                                </div>
                                               <button class="btn btn-primary" type="submit" id="submitSearch">Rechercher</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
                                    <div class="card-body">
                                        <div id="result">
                                            <div class="table-responsive">
                                                <table id="filterTable" class="table table-striped table-bordered first">
                                                    <thead>
                                                        <tr>
                                                            <th style="min-width: 100px;">Nom</th>
                                                            <th>URL</th>
                                                            <th>Auteur</th>
                                                            <th>Date d'ajout</th>
                                                            <th>tags</th>
                                                            <th style="min-width: 150px;">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if (body.cameras.cameras && body.cameras.cameras.length > 0) { %>
                                                            <% body.cameras.cameras.forEach((camera) => { %>
                                                                <tr id="search<%= camera._id%>">
                                                                    <td><a href="/analyse_camera/<%= camera._id%>"><%= camera.namespace%></a></td>
                                                                    <td><a href="/analyse_camera/<%= camera._id%>"><%= camera.url%></a></td>
                                                                    <td><%= camera.username%></td>
                                                                    <td><%= camera.date%></td>
                                                                    <td><%= camera.tags%></td>
                                                                    <td>
                                                                        <div>
                                                                            <button id="analyse<%= camera._id%>" name="listAnalyzeBtn" class="btn btn-primary mb-1 btn-block">
                                                                                <span class="fas fa-play mr-2"></span>Analyser
                                                                            </button>
                                                                            <button id="trash<%= camera._id%>" name="trash" class="btn btn-outline-danger mt-0 btn-block">
                                                                                <span class="fas fa-trash mr-2"></span>Supprimer
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            <% }) %>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Wait Modal -->
                    <div class="modal fade" id="waitModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">En cours de chargement</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Une analyse est en cours, veuillez patienter.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Continuer</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Success Modal -->
                    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Analyse en cours</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Cette caméra est actuellement en cours d'analyse, vous pouvez continuer vos recherches en parallèle.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Remove Modal -->
                <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Suppression caméra</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                                <p>Êtes vous sûr de vouloir supprimer cette caméra? </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Fermer</button>
                                <button type="button" id="confTrash" class="btn btn-danger">Supprimer la caméra</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <% include inc/footer.ejs %>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <% include inc/importantjs.ejs %>
        <script src="/assets/vendor/tagmanager/tagmanager.js"></script>
        <script src="datepicker.min.js"></script>
        <script src="mdb.min.js"></script>
        <script src="/js/search_camera.js"></script>
        <script src="js/multi.js"></script>
        <script>
            jQuery(".tm-input").tagsManager();
        </script>
    </body>
    <style type="text/css">
        .styleStatus {
            position: relative;
        }
        .styleStatus div {
            margin: 0;
            position: absolute;
            top: 25px;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
    </style>
</html>
